# ignore folders
.idea/
__pycache__/
sessions/
temp/
output/
img/
venv/
ConfigBackup/
test/
test_download/
test_download/test/
# ignore files
*.exe
*.yaml
*.xml
*.lock
tests.py
test.py
TESTS.py
config.yaml.template
Pipfile
